# == Music ==

# General Config
MUSIC_PORT=4060
MUSIC_APP_URL=
MUSIC_OIDC_CLIENT_ID=
MUSIC_OIDC_CLIENT_SECRET=
MUSIC_OIDC_ISSUER=
MUSIC_ADMINS=
MUSIC_POCKETID_API_KEY=

# Data
MUSIC_DATABASE_URL=postgres://music:PASSWORD@db:5432/music
MUSIC_REDIS_URL=redis://:PASSWORD@redis:6379/0
MUSIC_MEDIA_DIR=./data/media
MUSIC_MAX_UPLOAD_MB=500

# LastFM
MUSIC_LASTFM_API_KEY=
MUSIC_LASTFM_SHARED_SECRET=